/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

*, *:before, *:after {
	box-sizing: border-box;
}

html {
  color: #222;
  font-size: 62.5%;
/*   line-height: 1.4; */
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


:root {
	--sky: #ABC2EE;
	--red: #E74126;
	--sun: #F3C21F;
	--green: #52B474;
	--beige: #EBE7E4;
	--night: #110B0D;
	--dusk: #270039;
	--pink: #DF007D;
	--white: #fff;
	--silver: #e3e3e6;
	--maxw: 168rem;
	--width: 92vw; 
	--cols: 1;
	--gridgap: 2rem;
	--basefontsize: 1.8rem;
	--smallfontsize: 1.3rem;
}


html {
	color: var(--night);
}

body {
	font-size: var(--basefontsize);
	line-height: 1.388888888888889;
	font-family: "work sans", sans-serif;
	font-variation-settings: "wght" 364;
	color: var(--night);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;	
}

a {
	text-decoration: none !important;
}

body > header {
	padding: 0;
}

.logo {
	background: url("../img/musod.svg") left center no-repeat;
	text-indent: -9999em;
	overflow: hidden;
	width: 5rem;
	height: 4rem;
	display: block;
	background-size: 90% auto;
	grid-column: 1 / 2;
	grid-row: 1;
	position: absolute;
	z-index: 1001;
}

body > header .container {
	align-items: center;
}

body > header h5 {
	grid-column: 1 / 7;
	padding-bottom: 0;
	text-align: center;
	grid-row: 1;
}

.navigation {
	width: 45vw;
	flex-direction: row;
	display: flex;
	justify-content: space-between;
	position: relative;
	padding: 1rem 0;
	margin-left: auto;
	margin-right: auto;
}

.milestone {
	width: 4rem;
	font-size: var(--smallfontsize);
	height: 4rem;
	background: var(--white);
	opacity: 1;
	border-radius: 50%;
	margin: 0;
	position: relative;
	z-index: 1001;
	text-align: center;
	color: var(--night);
	transform-origin: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(0, 0, 0, .1);
	font-variation-settings: "wght" 675;
}

.milestone.done {
	background: var(--green);
	border-collapse: var(--green);
	transition-delay: 4s;
}


.explorer {
	position: absolute;
/* 	left: 0; */
	opacity: 1;
	width: 4rem;
	height: 4rem;
	background: url("../img/explorer.svg") center center no-repeat var(--white);
	background-size: 72% auto;
	z-index: 1002;
	animation-direction: normal;
	animation-fill-mode: forwards;
	animation-duration: 3s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-delay: 2s;
	border-radius: 50%;
}

.explorer-container {
	position: absolute;
	opacity: 1;
	top: 1rem;
	width: 4rem;
	height: 4rem;
}

@keyframes explorer-movement {
	0% {
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		transform: translateX(calc(9vw + 2rem));
		opacity: 1;
	}
}

.track {
	position: absolute;
	left: 1.5rem;
	top: 1.75rem;
	height: .5rem;
	width: calc(100% - 3rem);
	background: var(--silver);
	z-index: 999;
	display: flex;
    overflow: hidden;
    line-height: 0;
}

.progress {
	display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width 3s ease-in;
    transition-delay: 2s;
}

@keyframes progress-movement {
	0% {
		width: 0;
		opacity: 1;
	}
	100% {
		width: 1;
		opacity: 1;
	}
}

.toast {
	background: var(--night);
	color: var(--white);
	transition-delay: 3s !important;
	border-radius: 2rem;
	border: 1px solid rgba(255, 255, 255, 0.1);
/* 	font-size: .875em; */
}

.toast-header {
	padding: 2rem 2rem 0;
	text-align: center;
	font-size: 2rem;
	justify-content: center;
	background: transparent;
	border: none;
	color: var(--white);
}

.toast-body {
	padding: 2rem 2rem 3rem;
	text-align: center;
	font-size: 2rem;
}

figure {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
}

.container {
	padding-left: 8rem;
	padding-right: 8rem;
/* 	width: var(--width); */
	max-width: var(--maxw);
	margin-left: auto;
	margin-right: auto;
	display: grid;
/* 	grid-template-columns: repeat(1, 1fr); */
	grid-gap: var(--gridgap);
}

.hero_outside_container {
	padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 6rem);
}

.hero {
	padding-top: 5vh;
	padding-bottom: 10vh;
/* 	text-align: center; */
}

.hero h1 {
	margin-left: -0.05em !important;
}

.hero figure {
	grid-row: 1;
}

.hero figure img {
	margin-left: auto;
	margin-right: auto;
}

.vid_wrapper {
	max-width: 54rem;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	border-radius: 3.2rem;
}

.vid_wrapper video, .vid_wrapper iframe {
	display: block;
	max-width: 100%;
	
}

.hero .text {
	grid-row: 2;
}

.hero .cta {
	grid-row: 3;
}

.hero .cta p {
	margin-top: 1.5rem;
}

.notes li {
	list-style: none;
    position: relative;
    width: 40rem;
/*     min-height: 100px; */
    margin: 0 0 1.5rem;
    padding: 2rem;
    background: var(--white);
    -webkit-box-shadow: 0 2px 12px rgba(0,0,0,.1);
    -moz-box-shadow: 0 2px 12px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transform: rotateZ(-1deg);
	font-family: mali, cursive;
}

#notes li:nth-of-type(even) {
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -o-transform: rotate(1deg);
    transform: rotateZ(1deg);

}

#notes li.kiln
{
    background-image: url(https://rob.kilnhg.com/Content/Images/kiln_focus.gif);
}

#notes li p {
    text-align: center;
    font: normal normal normal 40px/48px 'Reenie Beanie', Helvetica, Arial, sans-serif;
    color: #000;
    text-shadow: white 1px 1px 0px;
    overflow:hidden;
}

#notes li::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 115px;
    top: -15px;
    width: 75px;
    height: 25px;
    z-index: 2;
    background-color: rgba(243,245,228,0.5);
    border: 2px solid rgba(255,255,255,0.5);
    -webkit-box-shadow: 0 0 5px #888;
    -moz-box-shadow: 0 0 5px #888;
    box-shadow: 2px 2px 2px #000;
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
}

#notes li:nth-child(even)::before {
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -o-transform: rotate(6deg);
}

.button {
	text-decoration: none;
	padding: 1.2rem 3rem 1.3rem;
	color: var(--white);
	font-variation-settings: "wght" 575;
	display: inline-block;
	border-radius: 1.5rem;
}

.button img {
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	max-width: 100%;
	vertical-align: middle;
}

.button + .button {
	margin-left: 1rem;
}

.button.red {
	background: var(--red);
	box-shadow: 0 5px 0 #C12D15;	
}

.button.red:hover {
	background: #C12D15;
	box-shadow: 0 5px 0 #C12D15;	
}

.button.green {
	background: var(--green);
	box-shadow: 0 5px 0 #3b985c;
}

.button.green:hover {
	color: var(--white);
	background: #3b985c;
	box-shadow: 0 5px 0 #3b985c;
}

.button.white {
	background: var(--white);
	color: var(--night);
	border: 1px solid rgba(0, 0, 0, .1);
	box-shadow: 0 5px 0 var(--silver);
}

.button.link {
	background: transparent;
	color: var(--night);
}

.button.white:hover {
	background: var(--silver);
	box-shadow: 0 5px 0 var(--silver);
}

.inspiration_starter {
/* 	background: var(--sun); */
	padding-top: 10vh;
	padding-bottom: 20vh;
}

.inspiration {

}

.card {
	background: var(--white);
	border-radius: 2rem;
	display: flex;
	flex-direction: column;
	position: relative;
/* 	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 3px rgba(0, 0, 0, .1); */
	overflow: hidden;
	border:0px solid transparent;
}

.card .cursive {
	color: var(--night);
}

.vid {
	position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    border-radius: 2rem;
}

.vid:before {
	display: block;
    content: "";
    padding-top: 56.25%;
}

.vid iframe {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.card figure {
	margin-top: 0;
}

.card img {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

.card_text {
	padding: 2rem;
	color: var(--night);

}

.mission_landing, .dp_1 {
	background: var(--silver) no-repeat;
	background-size: contain;
}

.step_one {
	background: var(--sky);
	color: var(--night);
}

.step_imagine {
	background: url("../img/adventure.png") right bottom no-repeat #353652;
	background-size: 40% auto;
	color: var(--white);
}

.pre_dive {
	background: url("../img/quests-missions.png") right bottom no-repeat #353652;
	background-size: 35% auto;
	color: var(--white);
}

.pre_dive .logo, .step_imagine .logo, .kyp .logo {
	background-image: url("../img/musod-light.svg");
}

.logo.light {
	background-image: url("../img/musod-light.svg");

}

.day_in_life {
	max-height: 101vh;
	overflow: hidden;
/* 	background: url("../img/plastic-timeline.jpeg") center center no-repeat; */
	background-size: cover;
	position: relative;

}

.day_in_life:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: var(--night);
	opacity: 0;
}

.day_in_life .hero {
	padding-bottom: 0;
}

.step_six {
	background: var(--sun);
}

.final_step {
	background: #DCE9B9;
}

.good_game {
	background: var(--night);
	color: var(--white);
}

.good_game .logo {
	background-image: url("../img/musod-light.svg");
}

.good_game .page_nav a, .step_imagine .page_nav a {
	color: var(--white);
}

.good_game .page_nav a:hover, .step_imagine .page_nav a:hover, .kyp .page_nav a:hover {
	color: var(--night);
}

.step_five {
	background: #EBE8BA;
	background-size: 40% auto;
}

.step_make {
	background: url("../img/popups.png") right bottom no-repeat #EBE8BA;
	background-size: 40% auto;
	
}

.step-one {
/*
	background: var(--sky);
	color: var(--white);
*/
}

.highlight {
	display: inline-block;
	position: relative;
}

.storytelling_landing {
	background: var(--sun);
}

.storytelling_step_two {
	background: var(--green);
}

.storytelling_step_three {
	background: var(--dusk);
	color: var(--white);
}

.storytelling_step_four {
	background: #21217e;
	color: var(--white);
}



/*Typography*/
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

h1 {	
	font-size: 4.7rem;
	line-height: 1.06;
	letter-spacing: -0.01em;
	font-variation-settings: "wght" 675;
	padding-bottom: 1.5rem;
}

h5 {
	font-size: calc(1.125*var(--basefontsize));
	line-height: 1.25;
	padding-bottom: calc(1.666666*var(--basefontsize));
	font-variation-settings: "wght" 675;	
}

h6 {
	font-family: mali, cursive;
	font-size: var(--smallfontsize);
	line-height: 1.42875;
	font-variation-settings: "wght" 675;
	letter-spacing: 0.05em;
}

.cursive {
	font-family: mali, cursive;
}

p.large {
	font-size: 2.1rem;
	line-height: 1.3333333;
	opacity: .8;
/* 	padding-bottom: 3rem; */
}

p {
	font-size: var(--basefontsize);
	padding-bottom: calc(1*1.388888888888889*var(--basefontsize));
	max-width: 36em;
}

ul, ol {
	margin: 0 0 calc(1*1.388888888888889*var(--basefontsize));
	padding-left: 0;
}

ul li, ol li {
	padding-bottom: calc(.5*1.388888888888889*var(--basefontsize));
}

strong {
	font-variation-settings: "wght" 650;	
}

.small {
	font-size: var(--smallfontsize);
}

figcaption {
	margin-top: 1rem;
	display: block;
	font-size: var(--smallfontsize);
}

.page_nav {
	padding: 2rem 5rem;
    max-width: var(--maxw);
	text-align: right;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	width: 6rem;
	display: flex;
	justify-content: center;
}

.page_nav a {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 0 14.4rem;
	height: 14.4rem;
	width: 14.4rem;
	border-radius: 50%;
	background: var(--white);
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 1.1rem 2rem;
	text-align: center;
/* 	font-size: var(--smallfontsize); */
	margin-left: -6rem;
	font-variation-settings: "wght" 675;
}

.page_nav a:hover {
	background: var(--white);
	box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
	text-decoration: none;
}

@media (min-width: 768px) {
	:root {
		--cols: 8;
		--gridgap: 4rem;
		--basefontsize: 2.2rem;
		--smallfontsize: 1.6rem;
	}
	
	body {
		line-height: 1.363636363636364;
		min-height: 100vh;
	}

	.hero {
		grid-template-columns: repeat(4, 1fr);
		padding-top: 5vh;
/* 		align-items: center; */
		padding-bottom: 12vh;
	}

	.hero .text {
		grid-column: 1 / -1;
		grid-row: 1 / 6;
	}
	
	.hero figure {
		grid-row: 1 / 4;
		grid-column: 1 / 2;
	}
	
	.hero figure img {
		margin-left: auto;
		margin-right: auto;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
		border-radius: 2rem;
	}
	
	.hero .cta {
		grid-row: 2;
		grid-column: 4 / 8;
	}
	
	.inspiration {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-gap: var(--gridgap);
		display: grid;	
	}
	
	.inspiration header {
		grid-column: 1 / -1;
	}
	
	.inspiration textarea {
		grid-column: 3 / 5;
		grid-row: 2;
		border-radius: 2rem;
		padding: 1.5rem;
		border: 1px solid transparent;
	}
	
	.inspiration > figure {
		grid-column: 1 / -1;
	}
	
	.inspiration h3 {
		grid-column: 1 / -1;
		grid-row: 1;
		text-align: center;
	}
	
	.step header {
		padding-bottom: 1.5rem;
		position: relative;
		z-index: 1000;
	}
	
	.step_counter {
		font-size: 5.6rem;
		width: 1.5em;
		height: 1.5em;
		display: flex;
		align-items: center;
		justify-content: center;
		background: var(--white);
		color: var(--green);
		box-shadow: 2px 2px var(--white), 5px 5px 0 var(--green);
		font-variation-settings: "wght" 650;	
		text-align: center;
		border-radius: 50%;
		z-index: 900;
	}
	
/*
	.step header:before {
		content: counter(section);
		font-size: 5.6rem;
		width: 1.5em;
		height: 1.5em;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: calc(-1.5em - var(--gridgap));
		top: -.5rem;
		background: var(--white);
		border: 1px solid rgba(0, 0, 0, 0.15);
		box-shadow: 2px 2px var(--white), 5px 5px 0 var(--green);
		-webkit-text-fill-color: white; 
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: var(--green);		
		font-variation-settings: "wght" 650;	
		text-align: center;
		z-index: 900;
	}
*/
	
	.step {
		counter-increment: section;	
		position: relative;
		padding-bottom: 6rem;
	}

	
	.inspiration .step_two {
		grid-column: 1 / -1;
	}
	
	.cards {
		margin-top: 6rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: var(--gridgap);
		list-style: none;
		margin-left: 0;
		padding-left: 0;
	}
	
	.card {
/* 		flex-direction: row-reverse; */
/* 		align-items: center; */
		margin-bottom: 4rem;
	}
	
	.card_text {
		padding: 3rem 3rem 3rem;
		position: relative;
	}
	
	.card_text:before {
/*
		content: counter(section);
		width: 4rem;
		height: 4rem;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 2rem;
		top: 3rem;
		background: var(--green);
		border-radius: 50%;
		color: var(--white);
		font-variation-settings: "wght" 650;	
		text-align: center;
*/
	}
	
	.text_heading {
		margin-bottom: var(--gridgap);
		grid-row-gap: 0;
	}
	
	.text_heading h6, .text_heading h1 {
		grid-column: 2 / -1;
/* 		text-align: center; */
	}
	
	.text_heading h1 {
		display: flex;
		width: 100%;
		justify-content: space-around;
		align-items: center;
	}
	
	.text_heading h1 div {
		flex: 1 0 33.33%;
	}
	
	.text_heading h6 img {
		display: inline-block;
		height: 2.4rem;
	}
	
	.text_heading h1 div img {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 6.4rem;
		height: 6.4rem;
		margin-bottom: 0rem;
	}
	
	.text_heading h1 span {
		display: inline-block;
		font-size: 4.2rem;
		line-height: 4.5rem;
		padding-top: 2.5rem;
		padding-bottom: 2rem;
		color: var(--red);
	}
	
	.text_heading h3 {
		grid-row: 2;
	}

	/*Typography*/
	h1, h2, h3, h4, h5, h6, p {
		margin: 0;
	}
	
	h1 {	
		font-size: 7.6rem;
		line-height: 1.0526315789;
		padding-bottom: 1.5rem;
		font-variation-settings: "wght" 675;
	}
	
	h2 {
		font-size: 5.6rem;
		line-height: 1.0714285714;
		font-variation-settings: "wght" 625;
	}
	
	h3 {
		font-size: 4.7rem;
		line-height: 1.063829787234043;
		font-variation-settings: "wght" 625;
		
	}
	
	h4 {
		font-size: 3.4rem;
		line-height: 1.1764705882;
	}
	
	h5 {
		font-size: 2.4rem;
		line-height: 1.25;
	}
	
	h6 {
		font-size: var(--smallfontsize);
		line-height: 1.75;
		font-variation-settings: "wght" 575;
	}
	
	p.large {
		font-size: 2.6rem;
		line-height: 1.36;
		opacity: .8;
	}
}
